{% extends "base.html.twig" %}

{% block content %}
	<h1>Campa침as existentes</h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Fecha creacion</th>
				<th scope="col">Producto</th>
				<th scope="col">Precio unitario</th>
				<th scope="col">Estado</th>
				<th scope="col">Acci칩n</th>
			</tr>
		</thead>
		<tbody>
			{% for campaign in campaigns %}
				<tr>
					<td>{{ campaign.id }}</td>
					<td>{{ campaign.createdAt | date('d-m-Y')}}</td>
					<td>{{ campaign.product.id }} - {{ campaign.product.name }}</td>
					<td>{{ campaign.product.unitPrice }}</td>
					<td>
						{% if campaign.active %}
							Activo
						{% else %}
							No activo
						{% endif %}
					</td>
					<td>
                        {% if campaign.active %}
                            <a href="{{ url('app_campaign_disable', { id: campaign.id }) }}" class="btn btn-primary">Desactivar</a>
                        {% else %}
                            <a href="{{ url('app_campaign_enable', { id: campaign.id }) }}" class="btn btn-primary">Activar</a>
                        {% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">
						Lista vacia
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<h1>Agregar campa침a</h1>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nombre</th>
				<th scope="col">Precio unitario</th>
				<th scope="col">Acci칩n</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.unitPrice }}</td>
					<td><a href="{{ url('app_campaign_add', { productId: product.id }) }}" class="btn btn-primary">Agregar</a></td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">
						Lista vacia
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
