{{ form_start(form) }}
    {% if form.product is defined %}
    <div class="mb-4">
        {{ form_row(form.product) }}
    </div>
    {% endif %}
    {% if form.type is defined %}
    <div class="mb-4">
        {{ form_row(form.type) }}
    </div>
    {% endif %}
    <div class="mb-4">
        {{ form_row(form.amount) }}
    </div>
    <div class="mb-4">
        {{ form_row(form.save) }}
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}