<b>Created:</b> {{ sale.salesDate ? sale.salesDate|date('Y-m-d H:i:s') : '' }} <br>
<b>Salesman:</b> {{ sale.salesman.getFullName }} <br>
<br>
<b>Products list</b>
<table class="table">
	<thead>
		<tr>
			<td scope="col">Id</td>
			<td scope="col"><center>Name</center></td>
			<td scope="col">Unit price</td>
		</tr>
	</thead>
	<tbody>
           {% for product in sale.products %}
		<tr>
			<td>{{ product.id }}</td>
			<td>{{ product.name }}</td>
			<td>{{ product.unitPrice }}</td>
		</tr>
           {% endfor %}
	</tbody>
</table>
<b>Total: {{ sale.total }}</b>
