{{ form_start(form) }}
	<label id="desde">Fecha para el cálculo: </label><br>
	<div class="mb-4">
		{{ form_row(form.date) }}
	</div>
	<div class="mb-4">
		{{ form_row(form.salespeople) }}
	</div>
	<div class="mb-4">
		{{ form_widget(form.submit) }}
	</div>
    {{ form_rest(form) }}
{{ form_end(form) }}