{% extends "base.html.twig" %}

{% block content %}
	<h1>Adicionales</h1>
	<!-- render form -->
	{% include('bonus/_form.html.twig') %}
	{% if errors is defined %}
		<div class="alert alert-danger" role="alert">
			{{ errors }}
		</div>
	{% endif %}
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Fecha creacion</th>
				<th scope="col">Desde</th>
				<th scope="col">Hasta</th>
				<th scope="col">Nombre y Apellido</th>
				<th scope="col">Comision por venta</th>
				<th scope="col">Comision por producto</th>
				<th scope="col">Premio Vendedor</th>
				<th scope="col">Premio campania</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<tbody>
			{% for bonus in bonuses %}
				<tr>
					<td>{{ bonus.createdAt | date('d-m-Y H:i:s') }}</td>
					<td>{{ bonus.dateFrom | date('d-m-Y') }}</td>
					<td>{{ bonus.dateTo | date('d-m-Y') }}</td>
					<td>{{ bonus.salesman.getFullName }}</td>
					<td>
						{% if bonus.saleComission is not empty %}
								<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bonus{{ loop.index }}SaleComission">
									{{ bonus.saleComission.total }}
								</button>
							 <!-- Modal -->
							<div class="modal fade" id="bonus{{ loop.index }}SaleComission" tabindex="-1" aria-labelledby="bonus{{ loop.index }}SaleComissionLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h3 class="modal-title" id="bonus{{ loop.index }}SaleComissionLabel">Comision Venta</h3>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <table class="table">
										<thead>
											<tr>
												<th scope="col">Id</th>
						        				<th scope="col">Fecha creacion</th>
						        				<th scope="col">Ventas realizadas</th>
						        				<th scope="col">Importe comision</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>{{ bonus.saleComission.id }}</td>
						        				<td>{{ bonus.saleComission.createdAt | date('d-m-Y H:i:s') }}</td>
						        				<td>{{ bonus.saleComission.units }}</td>
						        				<td>{{ bonus.saleComission.total }}</td>
											</tr>
										</tbody>
									</table>
							      </div><!-- /.modal-body -->
							    </div><!-- /.modal-content -->
							  </div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						{% else %}
							No
						{% endif %}
					</td>
					<td>
						{% if bonus.ProductComissions is not empty %}
								<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bonus{{ loop.index }}ProductComissions">
									{{ bonus.productCommissionsTotal }}
								</button>
							<!-- Modal -->
							<div class="modal fade" id="bonus{{ loop.index }}ProductComissions" tabindex="-1" aria-labelledby="bonus{{ loop.index }}ProductComissionsLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h3 class="modal-title" id="bonus{{bonus.id}}ProductComissionsLabel">Comision por Productos</h3>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <table class="table">
										<thead>
						      				<tr>
						      					<th scope="col">Id</th>
						      					<th scope="col">Fecha creacion</th>
						        				<th scope="col">Producto</th>
						        				<th scope="col">Unidades vendidas</th>
						        				<th scope="col">Importe comision</th>
						      				</tr>
						      			</thead>
						      			<tbody>
						      				{% for productCommission in bonus.ProductComissions %}
							        			<tr>
							        				<td>{{ productCommission.id }}</td>
							        				<td>{{ productCommission.createdAt | date('d-m-Y H:i:s') }}</td>
							        				<td>{{ productCommission.product.name }}</td>
							        				<td>{{ productCommission.units }}</td>
							        				<td>{{ productCommission.total }}</td>
							        			</tr>
						        			{% endfor %}
						      			</tbody>
									</table>
									<label>
				        				<b>Total:</b>
				        					{{ bonus.productCommissionsTotal }}
				        			</label>
								  </div><!-- /.modal-body -->
							    </div><!-- /.modal-content -->
							  </div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						{% else %}
							No
						{% endif %}
					</td>
					<td>
						{% if bonus.bestSalesmanMonth is not empty %}
							<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bonus{{ loop.index }}BestSalesman">
								{{ bonus.bestSalesmanMonth.total }}
							</button>
							<!-- Modal -->
							<div class="modal fade" id="bonus{{ loop.index }}BestSalesman" tabindex="-1" aria-labelledby="bonus{{ loop.index }}BestSalesmanLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h3 class="modal-title" id="bonus{{bonus.id}}BestSalesmanLabel">Premio Mejor Vendedor del Mes</h3>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <div class="form-group">
						      			<div><label><b>Id: </b></label> <label>{{ bonus.bestSalesmanMonth.id }}</label></div>
						      			<div><label><b>Fecha creacion: </b></label> <label>{{ bonus.bestSalesmanMonth.createdAt | date('d-m-Y H:i:s') }}</label></div>
						      			<div>
						      				<label><b>Importe: </b></label>
						      				<label>
						      						{{ bonus.bestSalesmanMonth.total }}
						      				</label>
						      			</div>
						      		</div>
							      </div><!-- /.modal-body -->
							    </div><!-- /.modal-content -->
							  </div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						{% else %}
							No
						{% endif %}
					</td>
					<td>
						{% if bonus.campaigns is not empty %}
								<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#bonus{{ loop.index }}CampaignAward">
									{{ bonus.campaignAwardsTotal }}
								</button>
							
							<!-- Modal -->
							<div class="modal fade" id="bonus{{ loop.index }}CampaignAward" tabindex="-1" aria-labelledby="bonus{{ loop.index }}CampaignAwardLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h3 class="modal-title" id="bonus{{bonus.id}}CampaignAwardLabel">Premio por Campania</h3>
							        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body">
							        <div class="form-group">
							        	<table class="table">
							        		<thead>
							      				<tr>
							      					<th scope="col">Id</th>
							      					<th scope="col">Fecha creacion</th>
							        				<th scope="col">Producto</th>
							        				<th scope="col">Importe</th>
							      				</tr>
							      			</thead>
							      			<tbody>
							      				{% for campaign in bonus.campaigns %}
								        			<tr>
								        				<td>{{ campaign.id }}</td>
								        				<td>{{ campaign.createdAt | date('d-m-Y H:i:s') }}</td>
								        				<td>{{ campaign.product.name }}</td>
								        				<td>{{ campaign.total }}</td>
								        			</tr>
							        			{% endfor %}
							      			</tbody>
							        	</table>
							        	<label>
							        		<b>Total: </b>
							        			{{ bonus.campaignAwardsTotal }}
							        	</label>
						      		</div>
							      </div><!-- /.modal-body -->
							    </div><!-- /.modal-content -->
							  </div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						{% else %}
							No
						{% endif %}
					</td>
					<td>
						{{ bonus.total }}
					</td>
				</tr>
			{% else %}
				<tr><td colspan="9">No hay adicionales calculados</td></tr>
			{% endfor %}
		</tbody>
	</table>

{%  endblock %}